.AllListings--SearchForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/images/Test/26109.jpg");
}

.AllListings {
  background-image: url("../../assets/images/Test/gray.jpg");
}

.AllListings--Table {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0px 2vw 0px 2vw;

  table {
    width: 1400px !important;
  }

  .AllListings--TableListingText {
    background: rgba(0, 0, 0, 0.5);
    width: 250px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0px 2vw 0px 2vw;
  }
}
.ant-table-cell {
  min-width: 1000px !important;
}

.AllListings--Table-Row {
  cursor: pointer;
}

th {
  color: white !important;
  font-weight: bold;
  letter-spacing: 1px;
  background: rgb(64, 169, 255) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.TableHeader {
  font-size: 13px;
}

.ant-table-column-sorter-down {
  color: white;
}
.ant-table-column-sorter-up {
  color: white;
}

.ant-table-column-sorter-up.active {
  color: black;
}

.ant-table-column-sorter-down.active {
  color: black;
}
