.AllListings--SearchForm {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5rem;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/images/Test/26109.jpg");
}

.AllListings--Table {
  background-image: url("../../assets/images/Test/gray.jpg");
  padding: 5vh 7vw 0px 7vw;
}

.ant-table-thead {
  .ant-table-cell {
    background: #40a9ff;
    color: white;
    font-weight: bold;
  }
}
