.AllListings--SearchForm {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5rem;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/images/Test/26109.jpg");
}

.AllListings--Table {
  background-image: url("../../assets/images/Test/gray.jpg");
  padding: 0px 7vw 0px 7vw;
}
