// Colors
$background-color: #ece0e8;
$color-primary-light: #3794ca;
$color-primary-dark: #0b1936;
$color-black: #000;
$color-gray-dark: #aaa;
$color-gray-light: #eee;
$color-white: #fff;

// Mixins
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } // < 600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } // < 900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } // < 1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } // > 1800px
  }
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // 10px as 1rem.
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75
  }
}

.artboard {
  display: flex;
  @include flexCenter;
  padding: 4rem;
  height: 100%;
  position: relative;

  @include respond(phone) {
    padding: 1rem;
  }
}

.dvccard1 {
  .card {
    &__side {
      &--front {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-dark, 0.8),
            rgba($color-primary-light, 0.9)
          ),
          url("../../assets/images/Broker/dvccard3.jpg");
      }
    }
  }
}

.dvccard2 {
  .card {
    &__side {
      &--front {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-dark, 0.8),
            rgba($color-primary-light, 0.9)
          ),
          url("../../assets/images/Broker/dvccard2.jpg");
      }
    }
  }
}

.dvccard3 {
  .card {
    &__side {
      &--front {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-dark, 0.8),
            rgba($color-primary-light, 0.9)
          ),
          url("../../assets/images/Broker/dvccard3.jpg");
      }
    }
  }
}

.dvccard4 {
  .card {
    &__side {
      &--front {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-dark, 0.8),
            rgba($color-primary-light, 0.9)
          ),
          url("../../assets/images/Broker/dvccard4.jpg");
      }
    }
  }
}

.dvccard5 {
  .card {
    &__side {
      &--front {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-dark, 0.8),
            rgba($color-primary-light, 0.9)
          ),
          url("../../assets/images/Broker/dvccard5.jpg");
      }
    }
  }
}
.card {
  flex: initial;
  position: relative;
  height: 30rem;
  width: 30rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;

  &__side {
    height: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden; /* We don't want to see the back part of the element. */
    backface-visibility: hidden; /* We don't want to see the back part of the element. */
    border-radius: 3px;
    overflow: hidden; /* The image is overflowing the parent. */
    box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

    &--front {
      background-size: cover;
      background-position: center;
    }

    &--back {
      background-color: $color-white;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  // Front side of the card
  &__theme {
    @include absCenter;
    top: 54%;
    width: 90%;
    text-align: center;
  }

  &__theme-box {
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subject {
    font-family: "KumbhSans", monospace;
    letter-spacing: 0.8rem;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__title {
    font-family: "KumbhSans", monospace;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
  }

  // Back side of the card
  &__cover {
    position: relative;
    background-size: cover;

    height: 5rem;
    // background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(
        to top right,
        rgba($color-primary-dark, 0.65),
        rgba($color-primary-light, 0.65)
      ),
      url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }

  &__heading {
    text-align: center;
    color: $color-white;
    @include absCenter;
    width: 75%;
    height: 3rem;
  }

  &__heading-span {
    font-family: "KumbhSans", monospace;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1rem;
    color: $color-white;
  }

  &__details {
    font-family: "KumbhSans", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2.5rem;
  }

  // Responsivity
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 2rem 6rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--front {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }

      &--back {
        transform: rotateY(0);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 3rem 2rem;
    }

    // Front side responsive styling
    &__theme {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 1.5rem 4rem;
      text-align: right;
    }

    &__theme-box {
      margin-bottom: 1.5rem;
    }

    &__title {
      font-size: 4rem;
    }
  }
}
